/**************** common ****************/
html, body, p, div, h1, header, main, footer {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
}

textarea {
    width: 450px;
    height: 600px;
}

/**************** wrapper ****************/
#wrapper {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1000px;
}

/**************** header ****************/
header {
    text-align: center;
}

/**************** main ****************/
#main {}
#main-header{}
#main-body{}

#in-replace {
    width: 200px;
}

#main-body-left {
    display: inline;
    float: left;
}

#main-header {}

#main-body {
        margin-top: 10px;
}

#main-body-center {
    margin-top: 250px;
    display: inline;
    float: left;

    height: 600px;
}

#main-body-right {
    display:  inline;
    float: left;
}

.clear-div {
    clear: both;
}
